<ons-page>
    <ons-toolbar ng-style="{'background-color':topbarBG}">
        <div class="left">
            <ons-back-button>Back</ons-back-button>
        </div>
        <div class="center">FAQ</div>
        <div class="right">
        </div>
    </ons-toolbar>
    <div class="topBanner">
        <div class="subImgBlock">
            <img src="{{subBanner}}" style="max-width: 380px; width: 100%;" />
        </div>
    </div>
    <h2 class="myHeader"><span>Frequently Asked Questions:</span></h2>
    <div style="padding: 0 20px;">
        <ol>
            <li>
                <strong>Who can join the Ukhozi FM VIP Club?</strong>
                <p>The Ukhozi FM VIP Club is for all Ukhozi FM listeners and radio lovers!</p>
            </li>
            <li>
                <strong>How do I join Ukhozi FM VIP Club?</strong>
                <p>It is as easy as 1, 2, 3…</p>
                <ol>
                    <li>Download the Ukhozi FM VIP App or go to www.ukhozifmvip.mobi</li>
                    <li>Click on Sign-Up, complete your details and SUBMIT.</li>
                    <li>Receive your VIP number on SMS / E-mail to use as YOUR login.</li>
                </ol>
                Pay R65 per month and remain a VIP…
            </li>
            <li>
                <strong>How do you collect the monthly fee of R65.00?</strong>
                <p>You can pay your R65.00 monthly fee via debit order. When you sign up, your bank details are requested and validated at the same time. Cash payments will be introduced in 2019 where VIP’s can pay at the main Retailers, keep an eye on this space, we will let you know when cash payments are available.</p>
            </li>
            <li>
                <strong>What benefits do I get as a VIP?</strong>
                <ol>
                    <li>Mahala Rewards:  discount, points, coupons & freebies @ more than 3 000 shops</li>
                    <li>Quarterly VIP Draw:  live likpe a Celeb for a day with a radio interview and much more</li>
                    <li>
                        Funeral Cash Pay-out dependent on age:<br>
                        Up to 64 years:  R7 500 cash pay-out<br>
                        65 – 74 years:	R3 000 cash pay-out<br>
                        75 – 84 years:	R1 000 cash pay-out<br>
                        85 + years:	No cash pay-out. <br> 
                        Members older than 85 years at inception will not enjoy funeral cover but the R15 monthly contribution towards the cover will be placed in your e-Wallet for the VIP to spend.
                    </li>
                    <li>M-travel:  your own Travel Agent offering you discounted travel all over South Africa!</li>
                    <li>Medical & Legal Advice: 24 / 7 access to qualified nurses & attorneys in time of need.</li>
                    <li>You will be the first to know of all Ukhozi FM events, competitions and gatherings!</li>
                </ol>
            </li>
            <li>
                <strong>How do I access my benefits?</strong>
                <p>All your benefits are detailed on the Ukhozi FM Mobile Platform (Either download the App or go to your phone browser: www.ukhozifmvip.mobi ).<br>The first time you log in, use your VIP number as the username and password.  Just follow the prompts and update your password.  Once you updated your password, you can login with your cell number or ID number and your newly chosen password going forward.<br>You can access all the Shops under the Shop menu – search via name, category or even GPS location.  You will also find all the important contact numbers to access your benefits.</p>
            </li>
            <li>
                <strong>What happens if my debit order fails?</strong>
                <p>If your monthly debit order fails and we do not receive your R65 monthly fee, we will deduct a double fee of R130.00 the next calendar month.  Should the 2nd debit order request fail, your membership will be inactivated immediately, and all benefits related to the Ukhozi FM VIP Club will terminate and access to the Ukhozi FM VIP Club will be suspended. </p>
            </li>
            <li>
                <strong>Can I re-instate my VIP Club membership?</strong>
                <p>You can re-instate your Ukhozi FM VIP Club membership at any time by restarting your payments.  You can either re-complete your debit authorization e-mandate (under sign-up) or start paying cash payments at selected Retailers (available from March 2019).  Your physical and virtual card has the relevant details to make cash payments at main Retailers but not available as yet.<br>Your funeral cash benefit waiting period will restart when you re-instate your membership (6 months waiting period for natural causes).</p>
            </li>
            <li>
                <strong>What if I lose my VIP number or didn’t receive my welcome communication?</strong>
                <p>For you to login for the first time, you need your VIP number sent to you via SMS / e-mail as soon as you sign up through the mobile platform or the Call Centre.  Your VIP number is your unique number and you will need it to login for the first time.  You can request your VIP number by phoning the Call Centre on 0860 021 075, have your ID number at hand.  You can also send your ID number to 35004 and we will contact you.  You should receive your welcome communication within 5 minutes of submitting your application form.  Contact 0860 021 075 should you not receive your welcome communication.</p>
            </li>
            <li>
                <strong>How does Mahala Rewards work?</strong>
                <p>Your MAHALA REWARDS include the following exciting deals:</p>
                <ol>
                    <li>Discount – on-the-spot Discount!  Your voucher will tell you how to use it.  Mostly you will be given a discount code to show the cashier when you pay.  You might have to quote your unique VIP number that will also display on your voucher.  For example: when you go to JET, your voucher will display a Discount Code that you can show the Cashier when you pay, she captures the code and your “R50 off” will be deducted from your till slip immediately.</li>
                    <li>Selected Shops will give you points in your e-Wallet.  For example, M-Loans provides you with points in your e-Wallet for taking a short loan from Letsatsi Loans & Finance.  Medipost provides points in your e-Wallet for delivering your chronic medication monthly.  Always remember to quote your VIP number when booking or ordering your products or services.<br>Your points in your e-Wallet can be used on the mobile platform for airtime, grocery vouchers, movie tickets and even donated to charity if you please.<br>Again, your vouchers will tell you how to access each deal – simply click on the shop to access your voucher.</li>
                    <li>You can get Dischem Coupons where you get RANDS off selected items, you can scroll down and view all your coupons and when you want to pay, click on “My coupon code” and present your unique code when you pay.  All the coupons will be deducted from your basket and you enjoy your savings instantly!</li>
                    <li>Lastly, you can collect digital stamps by buying a number of selected products and  collect a Freebie like buy 5 coffees and get 1 FREE.  This is still a new transaction type for Mahala Rewards and more Retailers will offer stamps and freebies soon.</li>
                </ol>
            </li>
            <li>
                <strong>How do I access the medical and legal advice lines?</strong>
                <p>You can phone 0861 62 42 52 and follow the prompts.  You will press 1 to access your benefits.  Please have your VIP number on hand for verification purposes.</p>
            </li>
            <li>
                <strong>How does M-Travel works?</strong>
                <p>If you are not enjoying holidays currently, it means you are not planning for them.   M-travel is your own personal Travel Agent that will assist you with your booking, planning and even travel SAVINGS – simply phone 0860 021 075!  You enjoy up to 40% discount on selected accommodation venues, accumulate points in your e-Wallet on Travelstart and SafariNow bookings (using our dedicated links).   Get affordable travel insurance and points in your e-Wallet – virtual money you can blast whist on holiday.<br>You only pay a once-off booking fee of R99 and M-travel arranges your holiday for you.  All payments for holidays are paid up front before any bookings are made.</p>
            </li>
            <li>
                <strong>How do you claim on the Funeral Cash benefit?</strong>
                <p>When you sign up you can nominate a beneficiary whom will be able to claim the benefit when the VIP member passes away.  Only the nominated beneficiary can claim by phoning 0860 021 075 and the FSP, Mahala, will assist the beneficiary with submission of the claim documentation.   A completed claim form together with the following documents will be required at claims stage:</p>
                <ul>
                    <li>Certified Copy of Deceased ID</li>
                    <li>Certified Copy of Claimant ID (beneficiary)</li>
                    <li>Certified Copy of Death Certificate</li>
                    <li>Form BI1663 /DHA1663</li>
                    <li>Police Report (if accidental death)</li>                    
                </ul>
            </li>
            <li>
                <strong>Is there a waiting period for the Funeral Cash benefit?</strong>
                <p>Yes, there is 6 months waiting period for death due to natural causes and no waiting period for death due to unnatural causes.   Contact 0860 021 075 should you have any questions.  Mahala is an authorised Financial Service Provider, FSP no: 21961.</p>
            </li>
        </ol>
    </div>
    <ons-bottom-toolbar ng-style="{'background-color':footerBG}">
        <ons-row vertical-align="center" style="height: 44px">
            <ons-col vertical-align="center" style="text-align: center; line-height: 44px; font-size: 25px;" onclick="myNavigator.pushPage('views/home.html', { animation : 'slide' } )"><ons-icon icon="ion-home"></ons-icon></ons-col>
            <ons-col vertical-align="center" style="text-align: center; line-height: 44px; font-size: 25px;" onclick="myNavigator.pushPage('views/socialmedia.html', { animation : 'slide' } )"><ons-icon icon="ion-heart"></ons-icon></ons-col>
            <ons-col vertical-align="center" style="text-align: center; line-height: 44px; font-size: 15px;" ng-click="loadpage(5)">T&C’s</ons-col>
        </ons-row>
    </ons-bottom-toolbar>
</ons-page>