<ons-page>
    <ons-toolbar ng-style="{'background-color':topbarBG}">
        <div class="left">
            <ons-back-button>Back</ons-back-button>
        </div>
        <div class="center">Sign Up</div>
        <div class="right"></div>
    </ons-toolbar>
    <div class="topBanner">
        <div><img src="{{Banner2}}" style="max-width: 800px; width: 100%;" /></div>
    </div>
    <ons-row align="center">
        <ons-col width="90%"><div class="formListInputLrg"><input type="search" class="search-input" id="qsearch" ng-model="data.quickSearch" placeholder="Quick search for a shop / deal" autofocus></div></ons-col>
        <ons-col width="10%"><ons-button ng-click="quickSearch()"><ons-icon icon="fa-search"></ons-button></ons-col>
    </ons-row>
    <h2 class="myHeader"><span>SIGN UP - Step 3</span></h2>
    <div class="formList"><strong>Declarations:</strong></div>
    <ons-list>
        <ons-list-item>
            <label class="left">
                <ons-checkbox input-id="check-0" ng-model="data.debitForm" value="yes"></ons-checkbox>
            </label>
            <label for="check-0" class="center">
                I have completed my Personal & Beneficiary Details and Bank Authorisation (created e-mandate) to apply for the Ukhozi FM VIP Club for only <span style="color: rgb(149,27,30);">R65 per month</span>.
            </label>
        </ons-list-item>
        <ons-list-item>
            <label class="left">
                <ons-checkbox input-id="check-1" ng-model="data.tc_y" value="yes"></ons-checkbox>
            </label>
            <label for="check-1" class="center">
                I have read and accept the terms & conditions.
            </label>
        </ons-list-item>
        <ons-list-item>
            <label class="left">
                <ons-checkbox input-id="check-3" ng-model="data.privacy_y" value="yes"></ons-checkbox>
            </label>
            <label for="check-3" class="center">
                I accept the&nbsp; <a onclick="myNavigator.pushPage('views/privacy.html', { animation : 'slide' } )"> Privacy Policy</a>
            </label>
        </ons-list-item>
        <ons-list-item>
            <label class="left">
                <ons-checkbox input-id="check-2" ng-model="data.market_y" value="yes"></ons-checkbox>
            </label>
            <label for="check-2" class="center">
                I would like to receive special deals, products and promotions related to the programme.
            </label>
        </ons-list-item>
    </ons-list>
    <p style="padding: 0 20px;"><strong>Please note:</strong> Failing to submit all the required fields on the sign up form,  may lead to an unsuccessful application and a very dissapointed VIP - please contact us should you not receive your welcome communication.</p>
    <div class="formList"><ons-button modifier="large" class="reg-button" ng-click="registerME()">REGISTER</ons-button></div>
    <ons-bottom-toolbar ng-style="{'background-color':footerBG}">
        <ons-row vertical-align="center" style="height: 44px">
            <ons-col vertical-align="center" style="text-align: center; line-height: 44px; font-size: 25px;" onclick="myNavigator.pushPage('views/home.html', { animation : 'slide' } )"><ons-icon icon="ion-home"></ons-icon></ons-col>
            <ons-col vertical-align="center" style="text-align: center; line-height: 44px; font-size: 25px;" onclick="myNavigator.pushPage('views/socialmedia.html', { animation : 'slide' } )"><ons-icon icon="ion-heart"></ons-icon></ons-col>
            <ons-col vertical-align="center" style="text-align: center; line-height: 44px; font-size: 15px;" ng-click="loadpage(5)">T&C’s</ons-col>
        </ons-row>
    </ons-bottom-toolbar>
</ons-page>