<ons-page>
    <ons-toolbar ng-style="{'background-color':topbarBG}">
        <div class="left">
            <ons-back-button>Back</ons-back-button>
        </div>
        <div class="center">Shop</div>
        <div class="right"></div>
    </ons-toolbar>
    <div class="topBanner">
        <div><img src="{{Banner2}}" style="max-width: 800px; width: 100%;" /></div>
    </div>
    <ons-row align="center">
        <ons-col width="90%"><div class="formListInputLrg"><input type="search" class="search-input" ng-model="data.quickSearch" placeholder="Quick search for a shop / deal"></div></ons-col>
        <ons-col width="10%"><ons-button ng-click="quickSearch()"><ons-icon icon="fa-search"></ons-button></ons-col>
    </ons-row>
    <h2 class="myHeader"><span>SHOP</span></h2>
    <div style="padding:0 20px; text-align: center">Click on the icon to refine your search. <a href="#" onclick="myNavigator.pushPage('views/feedback.html', { animation : 'lift' } )">Problems?</a></div>
    <div ng-show="loggedIn">
        <ons-row align="center">
            <ons-col width="50%"><ons-button modifier="large light" onclick="myNavigator.pushPage('views/user/discount.html', { animation : 'slide' } )"><img src="images/icons/DISCOUNTS.png" style="width: 75px;" /><br>ON-THE-SPOT<br>DISCOUNTS</ons-button></ons-col>
            <ons-col width="50%"><ons-button modifier="large light" onclick="myNavigator.pushPage('views/user/points.html', { animation : 'slide' } )"><img src="images/icons/POINTS.png" style="width: 75px;" /><br>EARN POINTS IN<br>YOUR E-WALLET</ons-button></ons-col>
        </ons-row>
        <ons-row align="center" style="height: 142px;">
            <ons-col width="50%" style="height: 142px;"><ons-button modifier="large light" ng-click="getFreebieRetailList()" style="height: 142px;"><img src="images/icons/FREEBIES.png" style="width: 75px;" /><br>COLLECT STAMPS<br>FOR FREEBIES</ons-button></ons-col>
            <ons-col width="50%"><ons-button modifier="large light" onclick="myNavigator.pushPage('views/user/coupons.html', { animation : 'slide' } )"><img src="images/icons/COUPONS.png" style="width: 75px;" /><br>GET RANDS OFF<br>SELECTED PRODUCTS<br>(COUPONS)</ons-button></ons-col>
        </ons-row>
        <ons-row align="center">
            <ons-col><ons-button modifier="large light" onclick="myNavigator.pushPage('views/nominate.html', { animation : 'slide' } )"><img src="images/icons/NOMINATE.png" style="width: 75px;" /><br>NOMINATE YOUR LOCAL SHOP</ons-button></ons-col>
        </ons-row>
    </div>
    <div ng-show="guest">
        <ons-row align="center">
            <ons-col width="50%"><ons-button modifier="large light" ng-click="getDiscountCatList()"><img src="images/icons/DISCOUNTS.png" style="width: 75px;" /><br>ON-THE-SPOT<br>DISCOUNTS</ons-button></ons-col>
            <ons-col width="50%"><ons-button modifier="large light" ng-click="getPointCatList()"><img src="images/icons/POINTS.png" style="width: 75px;" /><br>EARN POINTS IN<br>YOUR E-WALLET</ons-button></ons-col>
        </ons-row>
        <ons-row align="center">
            <ons-col><ons-button modifier="large light" onclick="myNavigator.pushPage('views/nominate.html', { animation : 'slide' } )"><img src="images/icons/NOMINATE.png" style="width: 75px;" /><br>NOMINATE YOUR LOCAL SHOP</ons-button></ons-col>
        </ons-row>
    </div>
    <ons-bottom-toolbar ng-style="{'background-color':footerBG}">
        <ons-row vertical-align="center" style="height: 44px">
            <ons-col vertical-align="center" style="text-align: center; line-height: 44px; font-size: 25px;" onclick="myNavigator.pushPage('views/home.html', { animation : 'slide' } )"><ons-icon icon="ion-home"></ons-icon></ons-col>
            <ons-col vertical-align="center" style="text-align: center; line-height: 44px; font-size: 25px;" onclick="myNavigator.pushPage('views/socialmedia.html', { animation : 'slide' } )"><ons-icon icon="ion-heart"></ons-icon></ons-col>
            <ons-col vertical-align="center" style="text-align: center; line-height: 44px; font-size: 15px;" ng-click="loadpage(5)">T&C’s</ons-col>
        </ons-row>
    </ons-bottom-toolbar>
</ons-page>