<ons-page>
    <ons-toolbar ng-style="{'background-color':topbarBG}">
        <div class="left">
            <ons-back-button>Back</ons-back-button>
        </div>
        <div class="center">Social Media</div>
        <div class="right"></div>
    </ons-toolbar>
    <div class="topBanner">
        <div><img src="{{Banner2}}" style="max-width: 800px; width: 100%;" /></div>
    </div>
    <ons-row align="center">
        <ons-col width="90%"><div class="formListInputLrg"><input type="search" class="search-input" ng-model="data.quickSearch" placeholder="Quick search for a shop / deal"></div></ons-col>
        <ons-col width="10%"><ons-button ng-click="quickSearch()"><ons-icon icon="fa-search"></ons-button></ons-col>
    </ons-row>
    <h2 class="myHeader"><span>SOCIAL MEDIA</span></h2>
    <div style="text-align: center;">Share our deals with your friends!</div>
    <ons-row align="center">
        <ons-col width="100%">
            <ons-button modifier="light large"><img src="images/icons/SHARE.png" style="width: 75px;" /><br>SHARE</ons-button>
        </ons-col>
    </ons-row>
    <ons-row align="center">
        <ons-col>
            <a href="#" class="shareBut"
                socialshare
                socialshare-provider="facebook"
                socialshare-type="sharer"
                socialshare-text="You will LOVE the Ukhozi FM VIP App, get cool deals from SHOPS! Go to www.ukhozifmvip.mobi, click on promotions & sign-up for 1 FREE month! I love it, you will too!"
                socialshare-url="http://ukhozifmvip.mobi"
                socialshare-popup-height="300"
                socialshare-popup-width="400">
                <i class="fa fa-facebook"></i> On Facebook
            </a>
        </ons-col>
        <ons-col>
            <a href="#" class="shareBut"
                socialshare
                socialshare-provider="twitter"
                socialshare-hashtags="ukhozifm, ukhozi, moola, freestuff, ukhozifmvip"
                socialshare-via="twitter"
                socialshare-text="You will LOVE the Ukhozi FM VIP App, get cool deals from SHOPS! Go to www.ukhozifmvip.mobi, click on promotions & sign-up for 1 FREE month! I love it, you will too!"
                socialshare-url="http://ukhozifmvip.mobi"
                socialshare-popup-height="300"
                socialshare-popup-width="400">
                <i class="fa fa-twitter"></i> On Twitter
            </a>
        </ons-col>
    </ons-row>
    <ons-row align="center">
        <ons-col>
            <a href="#" class="shareBut"
                socialshare
                socialshare-provider="whatsapp"
                socialshare-url="http://ukhozifmvip.mobi"
                socialshare-text="You will LOVE the Ukhozi FM VIP App, get cool deals from SHOPS! Go to www.ukhozifmvip.mobi, click on promotions & sign-up for 1 FREE month! I love it, you will too!">
                 <i class="fa fa-whatsapp"></i> On Whatsapp
            </a>
        </ons-col>
        <ons-col>
            <a href="#" class="shareBut"
                socialshare
                socialshare-provider="sms"
                socialshare-text="You will LOVE the Ukhozi FM VIP App, get cool deals from SHOPS! Go to www.ukhozifmvip.mobi, click on promotions & sign-up for 1 FREE month! I love it, you will too!"
                socialshare-url="http://ukhozifmvip.mobi">
                 <i class="fa fa-comments"></i> Via SMS
            </a>
        </ons-col>
    </ons-row>
    <ons-row align="center">
        <ons-col>
            <a href="#" class="shareBut"
                socialshare
                socialshare-provider="email"
                socialshare-body="You will LOVE the Ukhozi FM VIP App, get cool deals from SHOPS! Go to www.ukhozifmvip.mobi, click on promotions & sign-up for 1 FREE month! I love it, you will too!"
                socialshare-subject="Ukhozi FM VIP"
                socialshare-popup-height="300"
                socialshare-popup-width="400">
                <i class="fa fa-envelope"></i> Via Email
            </a>
        </ons-col>
        <ons-col></ons-col>
    </ons-row>
    <p>Find us on:</p>
    <ons-row align="center">
        <ons-col width="50%"><ons-button modifier="large light"><img src="images/icons/FACEBOOK.png" style="width: 75px;" onclick="window.open('https://www.facebook.com/UkhoziFMOfficial/','_system','')" /><br>FACEBOOK</ons-button></ons-col>
        <ons-col width="50%"><ons-button modifier="large light"><img src="images/icons/INSTAGRAM.png" onclick="window.open('https://www.instagram.com/ukhozi_fm/?hl=en','_system','')" style="width: 75px;" /><br>INSTAGRAM</ons-button></ons-col>
    </ons-row>
    <ons-row align="center">
        <ons-col width="50%"><ons-button modifier="large light"><img src="images/icons/TWITTER.png" style="width: 75px;" onclick="window.open('https://twitter.com/ukhozi_fm','_system','')" /><br>TWITTER</ons-button></ons-col>
    </ons-row>
    <ons-bottom-toolbar ng-style="{'background-color':footerBG}">
        <ons-row vertical-align="center" style="height: 44px">
            <ons-col vertical-align="center" style="text-align: center; line-height: 44px; font-size: 25px;" onclick="myNavigator.pushPage('views/home.html', { animation : 'slide' } )"><ons-icon icon="ion-home"></ons-icon></ons-col>
            <ons-col vertical-align="center" style="text-align: center; line-height: 44px; font-size: 25px;" onclick="myNavigator.pushPage('views/socialmedia.html', { animation : 'slide' } )"><ons-icon icon="ion-heart"></ons-icon></ons-col>
            <ons-col vertical-align="center" style="text-align: center; line-height: 44px; font-size: 15px;" ng-click="loadpage(5)">T&C’s</ons-col>
        </ons-row>
    </ons-bottom-toolbar>
</ons-page>