<ons-page>
    <ons-toolbar ng-style="{'background-color':topbarBG}">
        <div class="left"></div>
        <div class="center">TBFS Disclosures</div>
        <div class="right"></div>
    </ons-toolbar>
    <div class="topBanner">
        <div class="subImgBlock">
            <img src="{{subBanner}}" style="max-width: 380px; width: 100%;" />
        </div>
    </div>
    <h2 class="myHeader"><span>TBFS Disclosures</span></h2>
    <div style="padding: 0 20px;">
        <p>
        <strong>IMPORTANT INFORMATION – READ CAREFULLY</strong><br />
        DISCLOSURE AND OTHER LEGAL REQUIREMENTS<br />
        <strong>THIS NOTICE DOES NOT FORM PART OF THE INSURANCE CONTRACT</strong>
        </p>
        <p>
        <strong>1. ABOUT THE BEST FUNERAL SOCIETY (TBFS)</strong><br />
        (a) Registration No. 1997/005812/07<br />
        (b) Postal Address <br />
        P O BOX 62592 <br />
        MARSHALLTOWN <br />
        2107 <br />
        <br />
        Physical Address<br />
        1st FLOOR<br />
        81 MAIN STREET<br />
        MARSHALLTOWN<br />
        (c) Contact Details<br />
        Tel : (011) 373 8400<br />
        Facsimile : (011) 836 8573<br />
        e-mail : thebest@tbfs.co.za<br />
        Website: www.tbfs.co.za<br />
        (d) TBFS is a majority owned subsidiary of Hollard Life Insurance Company with a shareholding of 55%, 30% by Mocking Bull Holdings, 15% by K H Jacques.<br />
        (e) Directors: K H Jacques, S Ntombela, M Shezi, F J Turnbull, B N F Buthelezi.<br />
        (f) TBFS as a Underwriting Manager (UMA) is contracted to provide administration services to Hollard Life (Product Supplier/Insurer), but may provide such services to other insurers where required. A copy of the agreement is available on request. <br />
        (g) TBFS does not hold FI and IGF cover as all premiums receipt accounts are held directly by the Insurer. TBFS has Professional Indemnity Cover.<br />
        (h) TBFS is a registered Financial Service Provider (FSP No 11320) in the following categories:<br />
        Long Term Insurance Category A,<br />
        Long Term Insurance Category B1,<br />
        Short Term Insurance Personal Lines,<br />
        Assistance Business.<br />
        TBFS accepts liability for all financial advice and or intermediary services provided by its representatives and confirm that services may be rendered whilst under supervision.<br />
        (i) The Company has a comprehensive Conflict of Interest Policy in place. There are no actual or potential conflicts in terms of the FAIS act identified at present.
        </p>
        <p>
        <strong>2. TBFS COMPLAINTS PROCEDURES</strong><br />
        Any query regarding the validity, interpretation, effect or rights and obligations of any policy administered by TBFS, or any complaint concerning the conduct of TBFS, an Independent Intermediary or Insurer should be addressed as follows:<br />
        (1) If relevant, raise the matter with the employee concerned.<br />
        (2) In the event of the matter not being resolved, request details of the relevant department manager and raise the matter with them.<br />
        (3) Please confirm all details in writing as far as is possible, and in the event of the matter concerning TBFS conduct, please advise the independent intermediary of the matter.<br />
        (4) Should the matter not be satisfactorily resolved, please request that it be forwarded to the TBFS Operations Manager, who will respond directly.<br />
        (5) Thereafter, please formally and in writing address any complaint to:<br />
        <strong>The Complaints Department</strong><br />
        THE BEST Funeral Society<br />
        P O Box 62592<br />
        MARSHALLTOWN 2107<br />
        Tel: (011) 373 8400 <br />
        Fax: (011) 836 8573<br />
        (6) Should the matter remain unresolved, the matter may be referred to Hollard Life Insurance Company Limited’s Complaints Department and as per statutory procedures as provided.<br />
        (7) Utilization of this procedure in no way precludes any civil remedy which may be available to the aggrieved party.
        </p>
        <p>
        <strong>3. PROCEDURES FOR REGISTERING CLAIMS</strong><br />
        Procedures for the submission of claims are detailed in your policy and are important. If you have difficulties in determining the correct procedures, please contact your Financial Services Provider, Underwriting Management Agent (if applicable) or Product Supplier for assistance. Generally, you are required to advise the Product Supplier or Underwriting Management Agent (if applicable) within a prescribed number of days of a loss, provide written details of the loss, provide proof in support of the claim and provide any other details that may be required by the Product Supplier.<br />
        If the Policy Owner or Nominated Beneficiary needs to claim against this Policy, they should contact the UMA/Insurer as soon as possible to request a claim form.<br />
        The claimant must complete the claim form and return it to the insurer together with any supporting documents that the insurer may reasonably require.<br />
        Upon the death of any insured under this policy, notice of claim together with all supporting documentation must be submitted to the insurer within 6 (SIX) months from the date of the insured’s death. The insurer will accept no liability where a claim is submitted after 6 months of the date of death of the insured.<br />
        Valid claims are payable after submission of the following required documents (T&Cs apply):<br />
         A fully completed Claim Form;<br />
         A certified copy of the Identity Document of the Claimant;<br />
         A certified copy of the Identity Document and Death Certificate of the Deceased Insured Person and a copy of the Form BI1663/DHA1663;<br />
         In the case of a Partner, a certified copy of the marriage certificate or certified proof of the Common Law or Traditional marriage;<br />
         In the case of a biological Child, a certified copy of the member's or partner's Identity Document, or proof of relationship, and the Child's birth certificate (T&Cs apply);<br />
         In the case of a disabled Child, proof of disability;<br />
         A “Police Report” in the event of death by unnatural causes;<br />
         All copies must be certified by a Commissioner of Oaths.
        </p>
        <p>
        <strong>4. TBFS COMPLIANCE OFFICER DETAILS</strong><br />
        Associated Compliance<br />
        The Compliance Officer<br />
        P.O. BOX 9655<br />
        DEVON VALLEY <br />
        JOHANNESBURG <br />
        1715<br />
        Tel : 011 678 2533<br />
        Fax : 011 678 7731
        </p>
        <p>
        <strong>5. IMPORTANT MATTERS</strong><br />
        (a) All material facts must be accurately, fully and properly disclosed by you.<br />
        (b) All information disclosed by you or on your behalf is your responsibility.<br />
        (c) Do not sign any blank or partially completed application forms.<br />
        (d) Keep all documents handed to you.<br />
        (e) Make notes of what is said to you.<br />
        (f) Never be pressurized to buy a product. The TBFS Company Conflict of Interest Policy is available for viewing at the TBFS offices.<br />
        (g) Ensure that the product purchased suits your needs.<br />
        (h) Misrepresentation, incorrect or non-disclosure by you of any facts or circumstances may impact negatively on any claims arising from your insurance contract.<br />
        (i) In most cases, you have a right to cancel a policy in writing within 30 days after receipt of the summary contemplated in section 48 of the Long-term Insurance act, 1998. The same applies to certain changes you may make to a policy.<br />
        (j) You are entitled to a copy (free of charge) of the policy document, or summary thereof.<br />
        (k) The Insurer must give reasons for rejecting a claim.
        </p>
        <p>
        <strong>6. ABOUT THE INSURER</strong><br />
        This policy is underwritten by Hollard Life Assurance Limited (Registration No. 1993/001405/06, an authorised Financial Services Provider.<br />
        Hollard Life’s contact details are:<br />
        P.O.BOX 87419 <br />
        HOUGHTON <br />
        2041 <br />
        <br />
        22 OXFORD ROAD<br />
        PARKTOWN<br />
        JOHANNESBURG 2193<br />
        Tel: (011) 351 5000<br />
        Email: <strong>notices@hollard.co.za</strong> For attention: <strong>Hollard Group Legal.</strong>
        </p>
        <p>
        <strong>7. LONG TERM INSURANCE OMBUD DETAILS</strong><br />
        Particulars of The Long-term Insurance Ombudsman who is available to advise you in the event of claim problems which are not satisfactorily resolved by your Financial Services Provider and/or the insurer.<br />
        Private Bag X45<br />
        Claremont<br />
        7735<br />
        Tel : (021) 657 5000<br />
        Fax : (021) 674 0951
        </p>
        <p>
        <strong>8. FAIS OMBUD DETAILS</strong><br />
        Particulars of The Ombudsman for Financial Service Providers (FAIS Ombud) who is available to advise you on compliance issues of the Financial Service Provider.<br />
        P O BOX 74571 <br />
        Lynnwood Ridge <br />
        0040<br />
        Tel : (012) 470 9080<br />
        Fax : (012) 348 3447
        </p>
        <p>
        <strong>9. SHARING OF INSURANCE INFORMATION</strong><br />
        Insurers share information with each other regarding policies and claims with a view to prevent fraudulent claims and obtain material information regarding the assessment of risks proposed for insurance. By reducing the incidents of fraud and assessing risks fairly, future premium increases may be limited. This is done in the public interest and in the interest of all current and potential policyholders.<br />
        The sharing of information includes, but is not limited to information sharing via the Information Data Sharing System operated by TransUnion ITC on behalf of the South African Insurance Association. By the insurer accepting or renewing this insurance, you or any other person that is represented herein, gives consent to the said information being disclosed to any other insurance company or its agent.<br />
        You also similarly give consent to the sharing of information in regards to past insurance policies and claims that you have made. You also acknowledge that information provided by yourself or your representative may be verified against any legally recognised sources or databases.<br />
        By insuring or renewing you insurance you hereby not only consent to such information sharing, but also waive any rights of confidentiality with regards to underwriting or claims information that you have provided or that has been provided by another person on your behalf.<br />
        In the event of a claim, the information you have supplied with your application together with the information you supply in relation to the claim, will be included on the system and made available to other insurers participating in the Information Data Sharing System.
        </p>
        <p>
        <strong>10. USE OF YOUR PERSONAL INFORMATION</strong><br />
        When you enter into this policy you will be giving us your personal information that may be protected by data protections legislation, including but not only, the Protection of Personal Information Act, 2013 (“POPI”). We will take all reasonable steps to protect your personal information.<br />
        You authorise us to:<br />
        (a) Process your personal information to<br />
        (i) Communicate information to you that you ask us for.<br />
        (ii) Provide you with insurance services.<br />
        (iii) Verify the information you have given us against any source or database.<br />
        (iv) Compile non-personal statistical information about you.<br />
        (b) Transmit your personal information to any affiliate, subsidiary or re-insurer so that we can provide insurance services to you and to enable us to further our legitimate interests including statistical analysis, re-insurance and credit control.<br />
        (c) Transmit your personal information to any third party service provider that we may appoint to perform functions relating to your policy on our behalf. You acknowledge that this consent clause will remain in force even if your policy is cancelled or lapsed.
        </p>
        <p>
        <strong>11. WAIVER OF RIGHTS</strong><br />
        The General Code of Conduct stipulates that no financial services provider may request or induce in any manner a client to waiver any right or benefit conferred on the client by or in terms of any provisions of the said Code, or recognise, accept or act on any such waiver by a client. Any such waiver is null and void.
        </p>
    </div>
    <ons-list>
        <ons-list-item modifier="chevron" onclick="myNavigator.pushPage('views/TandC.html', { animation : 'slide' } );">
            TERMS & CONDITIONS
        </ons-list-item>
        <ons-list-item modifier="chevron" onclick="myNavigator.pushPage('views/mdis.html', { animation : 'slide' } );">
            Mahala Disclosures
        </ons-list-item>
    </ons-list>
</ons-page>
