<ons-page>
    <ons-toolbar ng-style="{'background-color':topbarBG}">
        <div class="left">
            <ons-back-button>Back</ons-back-button>
        </div>
        <div class="center">Level UP</div>
        <div class="right"></div>
    </ons-toolbar>
    <div class="topBanner">
        <div><img src="images/{{retailId}}.jpg" style="max-width: 800px; width: 100%;" /></div>
    </div>
    <h2 class="myHeader"><span>LEVEL UP</span></h2>
    <div style="padding:20px;"><h4>Rewards / Tier</h4></div>
    <ons-list>
        <ons-list-item ng-repeat="list in benefitsList">
            <strong>{{list.benefitDescr}} #{{list.beginReqToken}} - {{list.endReqToken}} Tokens</strong><br>
            {{list.benefitExtraDescr}}
        </ons-list-item>
    </ons-list>
    
    <div style="padding:20px;">Terms & Conditions apply.</div>
    <ons-bottom-toolbar ng-style="{'background-color':footerBG}">
        <ons-row vertical-align="center" style="height: 44px">
            <ons-col vertical-align="center" style="text-align: center; line-height: 44px; font-size: 25px;" onclick="myNavigator.pushPage('views/home.html', { animation : 'slide' } )"><ons-icon icon="ion-home"></ons-icon></ons-col>
            <ons-col vertical-align="center" style="text-align: center; line-height: 44px; font-size: 25px;" onclick="myNavigator.pushPage('views/socialmedia.html', { animation : 'slide' } )"><ons-icon icon="ion-heart"></ons-icon></ons-col>
            <ons-col vertical-align="center" style="text-align: center; line-height: 44px; font-size: 15px;" ng-click="loadpage(5)">T&C’s</ons-col>
        </ons-row>
    </ons-bottom-toolbar>
</ons-page>