<ons-page>
    <ons-toolbar ng-style="{'background-color':topbarBG}">
        <div class="left">
            <ons-back-button>Back</ons-back-button>
        </div>
        <div class="center">CNA Gift Cards</div>
        <div class="right"></div>
    </ons-toolbar>
    <div class="topBanner">
        <div class="subImgBlock">
            <img src="{{subBanner}}" style="max-width: 380px; width: 100%;" />
        </div>
    </div>
    <ons-row align="center">
        <ons-col width="90%"><div class="formListInputLrg"><input type="search" class="search-input" ng-model="data.quickSearch" placeholder="Quick search for a shop / deal"></div></ons-col>
        <ons-col width="10%"><ons-button ng-click="quickSearch()"><ons-icon icon="fa-search"></ons-button></ons-col>
    </ons-row>
    <h2 class="myHeader"><span>CNA GIFT CARDS</span></h2>
    <div style="padding: 0 20px;">
        <table>
            <tr>
                <td>Your Balance:</td>
                <td style="border: 1px solid #951b1e;"><strong>{{currentUnits}} points equivalent to R{{currentRands}}</strong></td>
            </tr>
        </table>
    </div>
    <div class="formShadow">
        <div class="formList">
            <div class="formListLable">VALUE:</div><div class="formListInput"><select ng-model="data.voucher"><option value="R50.00">R50.00</option><option value="R100.00">R100.00</option><option value="R150.00">R150.00</option></select></div>
        </div>
        <div class="formList">
            <div class="formListLable">CELL NO:</div><div class="formListInput"><input ng-model="data.CellNum" type="text" class="text-input" placeholder="Cell Number" /></div>
        </div>
    </div>
    <div style="padding:20px">
        <ons-button modifier="large" id="btnLogIn" ng-click="redeemCNAGc()" style="width:100%">REDEEM</ons-button>
        <p><strong>TERMS & CONDITIONS:</strong><br>Your gift card SMS will be sent to the nominated cellphone number above. Mahala will process your redemption within 24 hours, for enquiries phone 0860 62 42 52. The monetary value of your points must be greater or equal of your redemption. Terms and conditions apply.</p>
        <p><strong>EDCON ELECTRONIC GIFT CARDS TERMS AND CONDITIONS:</strong><br>An Electronic Gift Card is an SMS version of the existing gift card and the following additional terms apply:</p>
        <ul>
            <li>If the full value of your Electronic Gift Card is not used on your first purchase, the balance will be transferred to a physical Gift Card.</li>
            <li>The Electronic Gift Card cannot be topped up or be SMS’ed to somoene else.</li>
            <li>Should the Electronic Gift Card be deleted or the Customer’s cellphone be lost / stolen, Edcon will not be liable for any reimbursement of any nature. The SMS can be resent, but only to the original number.</li>
            <li>Edcon will not be held responsible for any cellular network service operator’s delay in forwarding an Electronic Gift Card to you.</li>
            <li>The Electronic Gift Card will only be accepted if a valid Electronic Gift Card number in SMS format is presented to the cashier.</li>
        </ul>	
        <a href="#" onclick="myNavigator.pushPage('views/feedback.html', { animation : 'lift' } )">Problems?</a>
    </div>
    <ons-bottom-toolbar ng-style="{'background-color':footerBG}">
        <ons-row vertical-align="center" style="height: 44px">
            <ons-col vertical-align="center" style="text-align: center; line-height: 44px; font-size: 25px;" onclick="myNavigator.pushPage('views/home.html', { animation : 'slide' } )"><ons-icon icon="ion-home"></ons-icon></ons-col>
            <ons-col vertical-align="center" style="text-align: center; line-height: 44px; font-size: 25px;" onclick="myNavigator.pushPage('views/socialmedia.html', { animation : 'slide' } )"><ons-icon icon="ion-heart"></ons-icon></ons-col>
            <ons-col vertical-align="center" style="text-align: center; line-height: 44px; font-size: 15px;" ng-click="loadpage(5)">T&C’s</ons-col>
        </ons-row>
    </ons-bottom-toolbar>
</ons-page>