<ons-page ng-init="createFeedbackForm()">
    <ons-toolbar ng-style="{'background-color':topbarBG}">
        <div class="left">
            <ons-back-button>Back</ons-back-button>
        </div>
        <div class="center">Quick Feedback</div>
        <div class="right">
        </div>
    </ons-toolbar>
    <div class="topBanner">
        <div class="subImgBlock">
            <img src="{{subBanner}}" style="max-width: 380px; width: 100%;" />
        </div>
    </div>
    <ons-row align="center">
        <ons-col width="90%"><div class="formListInputLrg"><input type="search" class="search-input" ng-model="data.quickSearch" placeholder="Quick search for a shop / deal"></div></ons-col>
        <ons-col width="10%"><ons-button ng-click="quickSearch()"><ons-icon icon="fa-search"></ons-button></ons-col>
    </ons-row>
    <div style="padding: 0px 20px 20px 10px; text-align: center;">
        <h4>{{feedbackQ1}}</h4>
        <ons-row>
            <ons-col>
                <label class="radio-button centerContent">
                    <img src="images/sad.png" style="max-width: 203px; width: 100%;" />
                    <ons-radio ng-model="data.question1" name="rateCashier" value="0"></ons-radio>
                </label>
            </ons-col>
            <ons-col>
                <label class="radio-button centerContent">
                    <img src="images/notgood.png" style="max-width: 203px; width: 100%;" />
                    <ons-radio ng-model="data.question1" name="rateCashier" value="25"></ons-radio>
                </label>
            </ons-col>
            <ons-col>
                <label class="radio-button centerContent">
                    <img src="images/meh.png" style="max-width: 203px; width: 100%;" />
                    <ons-radio ng-model="data.question1" name="rateCashier" value="50"></ons-radio>
                </label>
            </ons-col>
            <ons-col>
                <label class="radio-button centerContent">
                    <img src="images/ok.png" style="max-width: 203px; width: 100%;" />
                    <ons-radio ng-model="data.question1" name="rateCashier" value="75"></ons-radio>
                </label>
            </ons-col>
            <ons-col>
                <label class="radio-button centerContent">
                    <img src="images/happy.png" style="max-width: 203px; width: 100%;" />
                    <ons-radio ng-model="data.question1" name="rateCashier" value="100"></ons-radio>
                </label>
            </ons-col>
        </ons-row>
        <h4>{{feedbackQ2}}</h4>
        <ons-row>
            <ons-col>
                <label class="radio-button centerContent">
                    <img src="images/sad.png" style="max-width: 203px; width: 100%;" />
                    <ons-radio ng-model="data.question2" name="rateProducts" value="0"></ons-radio>
                </label>
            </ons-col>
            <ons-col>
                <label class="radio-button centerContent">
                    <img src="images/notgood.png" style="max-width: 203px; width: 100%;" />
                    <ons-radio ng-model="data.question2" name="rateProducts" value="25"></ons-radio>
                </label>
            </ons-col>
            <ons-col>
                <label class="radio-button centerContent">
                    <img src="images/meh.png" style="max-width: 203px; width: 100%;" />
                    <ons-radio ng-model="data.question2" name="rateProducts" value="50"></ons-radio>
                </label>
            </ons-col>
            <ons-col>
                <label class="radio-button centerContent">
                    <img src="images/ok.png" style="max-width: 203px; width: 100%;" />
                    <ons-radio ng-model="data.question2" name="rateProducts" value="75"></ons-radio>
                </label>
            </ons-col>
            <ons-col>
                <label class="radio-button centerContent">
                    <img src="images/happy.png" style="max-width: 203px; width: 100%;" />
                    <ons-radio ng-model="data.question2" name="rateProducts" value="100"></ons-radio>
                </label>
            </ons-col>
        </ons-row>
        <h4>{{feedbackQ3}}</h4>
        <ons-row>
            <ons-col>
                <label class="radio-button centerContent">
                    <img src="images/sad.png" style="max-width: 203px; width: 100%;" />
                    <ons-radio ng-model="data.question3" name="rateService" value="0"></ons-radio>
                </label>
            </ons-col>
            <ons-col>
                <label class="radio-button centerContent">
                    <img src="images/notgood.png" style="max-width: 203px; width: 100%;" />
                    <ons-radio ng-model="data.question3" name="rateService" value="25"></ons-radio>
                </label>
            </ons-col>
            <ons-col>
                <label class="radio-button centerContent">
                    <img src="images/meh.png" style="max-width: 203px; width: 100%;" />
                    <ons-radio ng-model="data.question3" name="rateService" value="50"></ons-radio>
                </label>
            </ons-col>
            <ons-col>
                <label class="radio-button centerContent">
                    <img src="images/ok.png" style="max-width: 203px; width: 100%;" />
                    <ons-radio ng-model="data.question3" name="rateService" value="75"></ons-radio>
                </label>
            </ons-col>
            <ons-col>
                <label class="radio-button centerContent">
                    <img src="images/happy.png" style="max-width: 203px; width: 100%;" />
                    <ons-radio ng-model="data.question3" name="rateService" value="100"></ons-radio>
                </label>
            </ons-col>
        </ons-row>
        <p><br /></p>
        <div><ons-button modifier="large" class="reg-button" ng-click="sendFeedback()">Submit</ons-button></div>
        <p>&nbsp;</p>
        <div><ons-button modifier="large" class="reg-button" onclick="myNavigator.pushPage('views/home.html', { animation : 'lift' } ); menu.closeMenu();">Skip</ons-button></div>
    </div>
    <ons-bottom-toolbar ng-style="{'background-color':footerBG}">
        <ons-row vertical-align="center" style="height: 44px">
            <ons-col vertical-align="center" style="text-align: center; line-height: 44px; font-size: 25px;" onclick="myNavigator.pushPage('views/home.html', { animation : 'slide' } )"><ons-icon icon="ion-home"></ons-icon></ons-col>
            <ons-col vertical-align="center" style="text-align: center; line-height: 44px; font-size: 25px;" onclick="myNavigator.pushPage('views/socialmedia.html', { animation : 'slide' } )"><ons-icon icon="ion-heart"></ons-icon></ons-col>
            <ons-col vertical-align="center" style="text-align: center; line-height: 44px; font-size: 15px;" ng-click="loadpage(5)">T&C’s</ons-col>
        </ons-row>
    </ons-bottom-toolbar>
</ons-page>