<ons-page>
    <ons-toolbar ng-style="{'background-color':topbarBG}">
        <div class="left">
            <ons-back-button>Back</ons-back-button>
        </div>
        <div class="center">Groceries</div>
        <div class="right"></div>
    </ons-toolbar>
    <div class="topBanner">
        <div class="subImgBlock">
            <img src="{{subBanner}}" style="max-width: 380px; width: 100%;" />
        </div>
    </div>
    <ons-row align="center">
        <ons-col width="90%"><div class="formListInputLrg"><input type="search" class="search-input" ng-model="data.quickSearch" placeholder="Quick search for a shop / deal"></div></ons-col>
        <ons-col width="10%"><ons-button ng-click="quickSearch()"><ons-icon icon="fa-search"></ons-button></ons-col>
    </ons-row>
    <h2 class="myHeader"><span>GROCERIES</span></h2>
    <div style="padding: 0 20px;">
        Your e-Wallet Balance:
        <h3 style="border: 1px solid #951b1e; background-color: #d1d4da">{{currentUnits}} points equivalent to R{{currentRands}}</h3>
        <p><strong>Mahala will process your redemption within <span style="color: #951b1e;">24 hours</span>, for enquiries phone <a href="tel:+27841963733" style="text-decoration: none; color: #951b1e;">084 196 3733</a></strong></p>
    </div>
    <div class="formShadow">
        <div class="formList">
            <div class="formListLable">VOUCHER VALUE:</div><div class="formListInput"><input ng-model="data.voucher" type="text" class="text-input" placeholder="Voucher Value" /></div>
        </div>
        <div class="formList">
            <div class="formListLable">CELL NO:</div><div class="formListInput"><input ng-model="data.CellNum" type="text" class="text-input" placeholder="Cell Number" /></div>
        </div>
    </div>
    <div style="padding:20px">
        <ons-button modifier="large" id="btnLogIn" ng-click="redeemFood()" style="width:100%">REDEEM</ons-button>
        <p>Please note, the monetary value of your points must be >= to the value of your redemption</p>
    </div>
    <ons-bottom-toolbar ng-style="{'background-color':footerBG}">
        <ons-row vertical-align="center" style="height: 44px">
            <ons-col vertical-align="center" style="text-align: center; line-height: 44px; font-size: 25px;" onclick="myNavigator.pushPage('views/home.html', { animation : 'slide' } )"><ons-icon icon="ion-home"></ons-icon></ons-col>
            <ons-col vertical-align="center" style="text-align: center; line-height: 44px; font-size: 25px;" onclick="myNavigator.pushPage('views/socialmedia.html', { animation : 'slide' } )"><ons-icon icon="ion-heart"></ons-icon></ons-col>
            <ons-col vertical-align="center" style="text-align: center; line-height: 44px; font-size: 15px;" ng-click="loadpage(5)">T&C’s</ons-col>
        </ons-row>
    </ons-bottom-toolbar>
</ons-page>