<ons-page>
    <ons-toolbar ng-style="{'background-color':topbarBG}">
        <div class="left">
            <ons-back-button>Back</ons-back-button>
        </div>
        <div class="center">My Transactions</div>
        <div class="right"></div>
    </ons-toolbar>
    <div class="topBanner">
        <div class="subImgBlock">
            <img src="{{subBanner}}" style="max-width: 380px; width: 100%;" />
        </div>
    </div>
    <ons-row align="center">
        <ons-col width="90%"><div class="formListInputLrg"><input type="search" class="search-input" ng-model="data.quickSearch" placeholder="Quick search for a shop / deal"></div></ons-col>
        <ons-col width="10%"><ons-button ng-click="quickSearch()"><ons-icon icon="fa-search"></ons-button></ons-col>
    </ons-row>
    <h2 class="myHeader"><span>MY 10 LAST TRANSACTIONS</span></h2>
    <div style="padding: 0 20px;">
        <hr style="color: rgba(200,33,38,1)" />
        <h3>POINTS: <small>(Last 10 Points transactions)</small></h3>
        <ons-row align="top" style="padding: 5px 0px; border-bottom: 1px solid #eee; font-size: 11px;">
            <ons-col width="1%"></ons-col>
            <ons-col width="16%"><strong>Date</strong></ons-col>
            <ons-col width="1%"></ons-col>
            <ons-col><strong>Description</strong></ons-col>
            <ons-col width="1%"></ons-col>
            <ons-col width="12%"><strong>Points</strong></ons-col>
        </ons-row>
        <ons-row align="top" style="padding: 5px 0px; border-bottom: 1px solid #eee; font-size: 11px;" ng-repeat="trans in transList">
            <ons-col width="1%"></ons-col>
            <ons-col width="16%">{{trans.transactionDate}}</ons-col>
            <ons-col width="1%"></ons-col>
            <ons-col>{{trans.label}}</ons-col>
            <ons-col width="1%"></ons-col>
            <ons-col width="12%">{{trans.transactionPoints}}</ons-col>
        </ons-row>
        <hr style="color: rgba(200,33,38,1)" />
        <h3>DISCOUNTS: <small>(Last 10 Discount transactions)</small></h3>
        <p class="location" style='color:#000'><i>Please note that your discount savings displayed above is dependant on the values you provide on the platform and it will give you an estimate value of savings through our Discount Retailers.  Mahala cannot be held liable or guarentee this value since it is not validated by the Discount Retailer.  Terms & conditions apply</i></p>
        <ons-row align="top" style="padding: 5px 0px; border-bottom: 1px solid #eee; font-size: 11px;">
            <ons-col width="1%"></ons-col>
            <ons-col width="16%"><strong>Date</strong></ons-col>
            <ons-col width="1%"></ons-col>
            <ons-col><strong>Description</strong></ons-col>
            <ons-col width="1%"></ons-col>
            <ons-col width="12%"><strong>Discount</strong></ons-col>
        </ons-row>
        <ons-row align="top" style="padding: 5px 0px; border-bottom: 1px solid #eee; font-size: 11px;" ng-repeat="disc in discountList">
            <ons-col width="1%"></ons-col>
            <ons-col width="16%">{{disc.transactionDate}}</ons-col>
            <ons-col width="1%"></ons-col>
            <ons-col>{{disc.label}}</ons-col>
            <ons-col width="1%"></ons-col>
            <ons-col width="12%">{{disc.transactionPoints}}</ons-col>
        </ons-row>
    </div>
    <ons-bottom-toolbar ng-style="{'background-color':footerBG}">
        <ons-row vertical-align="center" style="height: 44px">
            <ons-col vertical-align="center" style="text-align: center; line-height: 44px; font-size: 25px;" onclick="myNavigator.pushPage('views/home.html', { animation : 'slide' } )"><ons-icon icon="ion-home"></ons-icon></ons-col>
            <ons-col vertical-align="center" style="text-align: center; line-height: 44px; font-size: 25px;" onclick="myNavigator.pushPage('views/socialmedia.html', { animation : 'slide' } )"><ons-icon icon="ion-heart"></ons-icon></ons-col>
            <ons-col vertical-align="center" style="text-align: center; line-height: 44px; font-size: 15px;" ng-click="loadpage(5)">T&C’s</ons-col>
        </ons-row>
    </ons-bottom-toolbar>
</ons-page>