<ons-page>
    <ons-toolbar ng-style="{'background-color':topbarBG}">
        <div class="left">
            <ons-back-button>Back</ons-back-button>
        </div>
        <div class="center">Search for a deal</div>
        <div class="right"></div>
    </ons-toolbar>
    <div class="topBanner">
        <div><img src="{{Banner5}}" style="max-width: 800px; width: 100%;" /></div>
    </div>
    <ons-row align="center">
        <ons-col size="90%"><div class="formListInputLrg"><input type="search" class="search-input" ng-model="data.quickSearch" placeholder="Quick search for a shop / deal"></div></ons-col>
        <ons-col size="10%"><ons-button ng-click="quickSearch()"><ons-icon icon="fa-search"></ons-button></ons-col>
    </ons-row>
    <!--<h2 class="myHeader"><span>Quick Search</span></h2>
    <div style="padding:20px">
        <div class="formListInputLrg"><input type="text" class="text-input" ng-model="data.searchPartName" placeholder="Enter Retailer name"></div>
        <br>
        <ons-button modifier="large" id="btnLogIn" ng-click="searchPRName()" style="width:100%">Quick Search</ons-button>
    </div>-->
    <div style="padding:20px">
        Your e-Wallet Balance:
        <h3 style="border: 1px solid #951b1e; background-color: #d1d4da">{{currentUnits}} points equivalent to R{{currentRands}}</h3>
        <p>Your e-Wallet contains all your points that is converted to Rands. You can spend your e-Wallet on anything your heart desires, simply phone us on 0860 62 42 52 or quick shop below:<br><a href="#" onclick="myNavigator.pushPage('views/feedback.html', { animation : 'lift' } )">Problems?</a></p>
    </div>
    <h2 class="myHeader">SEARCH FOR A DEAL</h2>
    <div class="search">
        <ons-list>
            <ons-list-item modifier="chevron" ng-click="pointsRemName()">
                <span class="list-item__title">Name:</span><span class="list-item__subtitle">Shop listed Alphabetically</span>
            </ons-list-item>
            <ons-list-item modifier="chevron" ng-click="pointsRemCategory()">
               <span class="list-item__title">Category:</span><span class="list-item__subtitle">Shop listed by Category</span>
            </ons-list-item>
            <ons-list-item modifier="chevron" ng-click="pointsRemProvince()">
                <span class="list-item__title">Region:</span><span class="list-item__subtitle">Shop listed by Region</span>
            </ons-list-item>
            <ons-list-item modifier="chevron" ng-click="pointsRemCloseBy()">
                <span class="list-item__title">Close By:</span><span class="list-item__subtitle">Shop close to you (GPS location)</span>
            </ons-list-item>
        </ons-list>
    </div>
    <ons-bottom-toolbar ng-style="{'background-color':footerBG}">
        <ons-row vertical-align="center" style="height: 44px">
            <ons-col vertical-align="center" style="text-align: center; line-height: 44px; font-size: 25px;" onclick="myNavigator.pushPage('views/home.html', { animation : 'slide' } )"><ons-icon icon="ion-home"></ons-icon></ons-col>
            <ons-col vertical-align="center" style="text-align: center; line-height: 44px; font-size: 25px;" onclick="myNavigator.pushPage('views/socialmedia.html', { animation : 'slide' } )"><ons-icon icon="ion-heart"></ons-icon></ons-col>
            <ons-col vertical-align="center" style="text-align: center; line-height: 44px; font-size: 15px;" ng-click="loadpage(5)">T&C’s</ons-col>
        </ons-row>
    </ons-bottom-toolbar>
</ons-page>