<ons-page>
    <ons-toolbar ng-style="{'background-color':topbarBG}">
        <div class="left">
            <ons-back-button>Back</ons-back-button>
        </div>
        <div class="center">Search by Region</div>
        <div class="right"></div>
    </ons-toolbar>
    <div class="topBanner">
        <div class="subImgBlock">
            <img src="{{subBanner}}" style="max-width: 380px; width: 100%;" />
        </div>
    </div>
    <ons-row align="center">
        <ons-col width="90%"><div class="formListInputLrg"><input type="search" class="search-input" ng-model="data.quickSearch" placeholder="Quick search for a shop / deal"></div></ons-col>
        <ons-col width="10%"><ons-button ng-click="quickSearch()"><ons-icon icon="fa-search"></ons-button></ons-col>
    </ons-row>
    <h2 class="myHeader">SEARCH BY REGION</h2>
    <div style="padding: 0 20px;">
        <p>Select a region from the dorp down boxes below.</p>
    </div>
    <div class="formShadow">
        <div class="formList">
            <div class="formListLable">PROVINCE:</div><div class="formListInput"><select ng-change="searchPointProv()" ng-model="selectPointsProv" ng-options="partner.Name for partner in pointsProvDD" style="width:100%;"><option value="">Select a Province</option></select></div>
        </div>
        <div ng-show="searchProvOk">
            <div class="formList">
                <div class="formListLable">CITY:</div><div class="formListInput"><select ng-change="searchPointCity()" ng-model="selectPointsCity" ng-options="partner.Name for partner in pointsCityDD" style="width:100%;"><option value="">Select a City</option></select></div>
            </div>
        </div>
    </div>
    <p>&nbsp;</p>
    <div ng-show="searchOk">
        <ons-list>
            <ons-list-header>Available Partners:</ons-list-header>
            <ons-list-item modifier="partnerList" class="list-item-container list__item--tappable" ng-repeat="partner in partnerList" ng-click="pointsVoucher(partner.partner_id)">
                <ons-row>
                    <ons-col width="95px">
                        <img src="https://www.mahala.mobi/components/com_jumi/files/mahala_WSDL/logos/{{partner.partner_logo}}" class="thumbnail">
                    </ons-col>
                    <ons-col>
                        <div class="name">
                            {{partner.partner_name}}
                        </div>
                        <div class="location">
                            <i class="fa fa-map-marker"></i> {{partner.partner_address}}, {{partner.partner_suburb}}, {{partner.partner_province}}
                        </div>
                        <div class="desc">
                            {{partner.partner_category}}
                        </div>
                    </ons-col>
                    <ons-col width="40px"><i class="fa fa-chevron-right" aria-hidden="true" style="color: rgb(206,40,44);"></i></ons-col>
                </ons-row>
            </ons-list-item>
        </ons-list>
    </div>
    <ons-bottom-toolbar ng-style="{'background-color':footerBG}">
        <ons-row vertical-align="center" style="height: 44px">
            <ons-col vertical-align="center" style="text-align: center; line-height: 44px; font-size: 25px;" onclick="myNavigator.pushPage('views/home.html', { animation : 'slide' } )"><ons-icon icon="ion-home"></ons-icon></ons-col>
            <ons-col vertical-align="center" style="text-align: center; line-height: 44px; font-size: 25px;" onclick="myNavigator.pushPage('views/socialmedia.html', { animation : 'slide' } )"><ons-icon icon="ion-heart"></ons-icon></ons-col>
            <ons-col vertical-align="center" style="text-align: center; line-height: 44px; font-size: 15px;" ng-click="loadpage(5)">T&C’s</ons-col>
        </ons-row>
    </ons-bottom-toolbar>
</ons-page>
