<ons-page>
    <ons-toolbar ng-style="{'background-color':topbarBG}">
        <div class="left">
            <ons-back-button>Back</ons-back-button>
        </div>
        <div class="center">Profile</div>
        <div class="right"></div>
    </ons-toolbar>
    <div class="topBanner">
        <div class="imgBlock hideableW" style="display: block;"><img src="images/app_header1.png" style="max-width: 800px; width: 100%;" /></div>
        <div class="imgBlock hideableW" style="display: none;"><img src="images/app_header2.png" style="max-width: 800px; width: 100%;" /></div>
        <div class="imgBlock hideableW" style="display: none;"><img src="images/app_header3.png" style="max-width: 800px; width: 100%;" /></div>
        <div class="imgBlock hideableW" style="display: none;"><img src="images/app_header4.png" style="max-width: 800px; width: 100%;" /></div>
        <div class="imgBlock hideableW" style="display: none;"><img src="images/app_header5.png" style="max-width: 800px; width: 100%;" /></div>
        <div class="imgBlock hideableW" style="display: none;"><img src="images/app_header6.png" style="max-width: 800px; width: 100%;" /></div>
    </div>
    <ons-row align="center">
        <ons-col width="90%"><div class="formListInputLrg"><input type="search" class="search-input" ng-model="data.quickSearch" placeholder="Quick search for a shop / deal"></div></ons-col>
        <ons-col width="10%"><ons-button ng-click="quickSearch()"><ons-icon icon="fa-search"></ons-button></ons-col>
    </ons-row>
    <h2 class="myHeader"><span>PROFILE</span></h2>
    <ons-row align="center">
        <ons-col><ons-button modifier="large light" onclick="myNavigator.pushPage('views/user/my_profile.html', { animation : 'slide' } )">
            <img src="images/icons/PROFILE.png" style="width: 75px;" /><br>
            PERSONAL DETAILS
        </ons-button></ons-col>
    </ons-row>
    <ons-row align="center">
        <ons-col><ons-button modifier="large light" onclick="myNavigator.pushPage('views/user/balance.html', { animation : 'slide' } )">
            <img src="images/icons/BALANCE.png" style="width: 75px;" /><br>
            BALANCE
        </ons-button></ons-col>
    </ons-row>
    <ons-row align="center">
        <ons-col><ons-button modifier="large light" onclick="myNavigator.pushPage('views/user/my_card.html', { animation : 'slide' } )">
            <img src="images/icons/VIRTUAL-CARD.png" style="width: 75px;" /><br>
            VIRTUAL CARD
        </ons-button></ons-col>
    </ons-row>
    <ons-row align="center">
        <ons-col><ons-button modifier="large light" ng-click="logout()">
            <img src="images/icons/LOGIN.png" style="width: 75px;" /><br>
            LOG OUT
        </ons-button></ons-col>
    </ons-row>
    <ons-bottom-toolbar ng-style="{'background-color':footerBG}">
        <ons-row vertical-align="center" style="height: 44px">
            <ons-col vertical-align="center" style="text-align: center; line-height: 44px; font-size: 25px;" onclick="myNavigator.pushPage('views/home.html', { animation : 'slide' } )"><ons-icon icon="ion-home"></ons-icon></ons-col>
            <ons-col vertical-align="center" style="text-align: center; line-height: 44px; font-size: 25px;" onclick="myNavigator.pushPage('views/socialmedia.html', { animation : 'slide' } )"><ons-icon icon="ion-heart"></ons-icon></ons-col>
            <ons-col vertical-align="center" style="text-align: center; line-height: 44px; font-size: 15px;" ng-click="loadpage(5)">T&C’s</ons-col>
        </ons-row>
    </ons-bottom-toolbar>
</ons-page>
