<ons-page>
    <ons-toolbar ng-style="{'background-color':topbarBG}">
        <div class="left">
            <ons-back-button>Back</ons-back-button>
        </div>
        <div class="center">e-Wallet</div>
        <div class="right"></div>
    </ons-toolbar>
    <div class="topBanner">
        <div><img src="{{Banner5}}" style="max-width: 800px; width: 100%;" /></div>
    </div>
    <ons-row align="center">
        <ons-col width="90%"><div class="formListInputLrg"><input type="search" class="search-input" ng-model="data.quickSearch" placeholder="Quick search for a shop / deal"></div></ons-col>
        <ons-col width="10%"><ons-button ng-click="quickSearch()"><ons-icon icon="fa-search"></ons-button></ons-col>
    </ons-row>
    <h2 class="myHeader"><span>E-WALLET</span></h2>
    <div style="padding:20px">
        Your e-Wallet Balance:
        <h3 style="border: 1px solid #951b1e; background-color: #d1d4da">{{currentUnits}} points equivalent to R{{currentRands}}</h3>
        <p>Your e-Wallet contains all your points that is converted to Rands. You can spend your e-Wallet on anything your heart desires, simply phone us on 0860 62 42 52 or quick shop below:<br><a href="#" onclick="myNavigator.pushPage('views/feedback.html', { animation : 'lift' } )">Problems?</a></p>
    </div>
    <ons-row align="center">
        <ons-col width="50%"><ons-button modifier="large light" onclick="myNavigator.pushPage('views/user/Grocery.html', { animation : 'lift' } )"><img src="images/icons/GROCERIES.png" style="width: 75px;" /><br>GROCERIES</ons-button></ons-col>
        <ons-col width="50%"><ons-button modifier="large light" onclick="myNavigator.pushPage('views/user/Airtime.html', { animation : 'lift' } )"><img src="images/icons/AIRTIME.png" style="width: 75px;" /><br>AIRTIME</ons-button></ons-col>
    </ons-row>
    <ons-row align="center">
        <ons-col width="50%"><ons-button modifier="large light" onclick="myNavigator.pushPage('views/user/NuMetro.html', { animation : 'lift' } )"><img src="images/icons/MOVIE-TICKETS.png" style="width: 75px;" /><br>STER-KINEKOR<br>MOVIE TICKETS</ons-button></ons-col>
        <ons-col width="50%"><ons-button modifier="large light" onclick="myNavigator.pushPage('views/user/giftCard.html', { animation : 'lift' } )"><img src="images/icons/GIFT-CARDS.png" style="width: 75px;" /><br>GIFT CARDS</ons-button></ons-col>
    </ons-row>
    <ons-row align="center">
        <ons-col width="50%"><ons-button modifier="large light" onclick="myNavigator.pushPage('views/user/partner_redemption.html', { animation : 'lift' } )"><img src="images/icons/SHOP.png" style="width: 75px;" /><br>SHOP</ons-button></ons-col>
        <ons-col width="50%"><ons-button modifier="large light" onclick="myNavigator.pushPage('views/user/feedachild.html', { animation : 'slide' } )"><img src="images/icons/FEED-CHILD.png" style="width: 75px;" /><br>FEED A CHILD</ons-button></ons-col>
    </ons-row>
</ons-page>