<ons-page>
    <ons-toolbar ng-style="{'background-color':topbarBG}">
        <div class="left">
            <ons-back-button>Back</ons-back-button>
        </div>
        <div class="center">Discount Voucher</div>
        <div class="right"></div>
    </ons-toolbar>
    
    <div style="padding: 0 20px;">
        <table width='100%' style='border:none'>
            <tr>
                <td colspan='2' style='border-bottom:2px solid #cd242d;' align='center'><img src="https://www.mahala.mobi/components/com_jumi/files/mahala_WSDL/logos/{{partner_logo}}" width="90%"></td>
            </tr>
            <tr>
                <td colspan="2"><h3>{{partner_voucher}}</h3></td>
            </tr>
            <tr>
                <td style="color: rgb(206,40,44);">How:</td><td>{{partner_terms}}</td>
            </tr>
            <tr>
                <td>Loy No:</td><td>{{userMpacc}}</td>
            </tr>
            <tr>
                <td>Web:</td><td><a href="#" onclick="window.open('{{partner_web}}','_system','')">View Website / Order online</a></td>
            </tr>
            <tr>
                <td>Address:</td><td>{{partner_address}}</td>
            </tr>
            <tr>
                <td>Tel:</td><td>{{partner_tel}}</td>
            </tr>
            <tr>
                <td>Date:</td><td>{{voucher_date}}</td>
            </tr>
        </table>
    </div>
    
    <div style="margin: 0; text-align: center; background-color: #a9abae;"><h2 style="padding: 5px; color: #606062;">RECORD YOUR DISCOUNT</h2></div>
    
    <div style="padding: 0 20px;">
        <p><strong>Note:</strong> This is optional, if you record your discount, Mahala can add up all your discount savings. You can view your total discount savings on your Profile Balance page.  Mahala accept no liability or responsibility when a member fails to record their discount.</p>
        <div class="formListLrg">
            <div class="formListLable">Transaction Value:</div><div class="formListInputLrg"><input type="number" class="text-input"  placeholder="Transaction Value" ng-model="data.pointsTransVal"></div>
        </div>
        <div class="formListLrg">
            <div class="formListLable">Invoice No:</div><div class="formListInputLrg"><input type="text" class="text-input"  placeholder="Invoice No" ng-model="data.pointsTransInv"></div>
        </div>
        <div class="formListLrg">
            <div class="formListLable"><br></div><div class="formListInputLrg"><ons-button modifier="large" id="btnLogIn" ngf-select ng-model="data.invoiceSlip" name="file" ngf-pattern="'image/*'" ngf-capture="'camera'" ngf-resize-if="$width > 800 || $height > 800" ngf-accept="'image/*'" ngf-max-size="20MB" ngf-resize="{width: 800, height: 800}" > UPLOAD YOUR TILL SLIP</ons-button></div>
        </div>
        <p>&nbsp;</p>
        <div style="text-align: center;"><img src='https://www.mahala.mobi/components/com_jumi/files/mahala_WSDL/test_1D.php?text={{CardNumber}}' width='270px' /></div>
        <!--<input type="text" class="text-input" ng-model="data.partId" value="{{partner_id}}">
        <input type="text" class="text-input" ng-model="data.partName" ng-value="{{partner_name}}">-->
        <img ng-show="data.invoiceSlip.$valid" ngf-thumbnail="data.invoiceSlip" ngf-size="{width: 100, height: 100, quality: 0.9}">
        <br>
        <ons-button modifier="large" id="btnLogIn" ng-click="claimDiscount(data.invoiceSlip)" style="width:100%">SUBMIT</ons-button>
                
        <p class="location" style='color:#000'><i>When capturing your till slip, plase ensure that the total transaction value  and invoice number are visible, these details will be confirmed by the retailer. </i></p>
        <p><a href="#" onclick="myNavigator.pushPage('views/TandC.html');" style="text-decoration: none;">TERMS AND CONDITIONS</a> APPLY.</p>
        <a href="#" onclick="myNavigator.pushPage('views/feedback.html', { animation : 'lift' } )">Problems?</a>
    </div>
    <ons-bottom-toolbar ng-style="{'background-color':footerBG}">
        <ons-row vertical-align="center" style="height: 44px">
            <ons-col vertical-align="center" style="text-align: center; line-height: 44px; font-size: 25px;" onclick="myNavigator.pushPage('views/home.html', { animation : 'slide' } )"><ons-icon icon="ion-home"></ons-icon></ons-col>
            <ons-col vertical-align="center" style="text-align: center; line-height: 44px; font-size: 25px;" onclick="myNavigator.pushPage('views/socialmedia.html', { animation : 'slide' } )"><ons-icon icon="ion-heart"></ons-icon></ons-col>
            <ons-col vertical-align="center" style="text-align: center; line-height: 44px; font-size: 15px;" ng-click="loadpage(5)">T&C’s</ons-col>
        </ons-row>
    </ons-bottom-toolbar>
</ons-page>