<ons-page>
    <ons-toolbar ng-style="{'background-color':topbarBG}">
        <div class="left">
            <ons-back-button>Back</ons-back-button>
        </div>
        <div class="center">Redemption Voucher</div>
        <div class="right"></div>
    </ons-toolbar>
    <div class="topBanner">
        <div class="subImgBlock">
            <img src="{{subBanner}}" style="max-width: 380px; width: 100%;" />
        </div>
    </div>
    <div style="padding: 0 20px;">
        <table>
            <tr>
                <td>Your Balance:</td>
                <td style="border: 1px solid #951b1e;"><strong>{{currentUnits}} points equivalent to R{{currentRands}}</strong></td>
            </tr>
        </table>
        <p><strong>To redeem your points, complete the fields below, enter the OTP pin provided by the store and submit.</strong></p>
    </div>
    <div style="padding: 0 20px;">
        <table width='100%' style='border:none'>
            <tr>
                <td>Partner Name:</td><td>{{partner_name}}</td>
            </tr>
            <tr>
                <td colspan="2">&nbsp;</td>
            </tr>
            <tr>
                <td>Tel:</td><td>{{partner_tel}}</td>
            </tr>
            <tr>
                <td>Address:</td><td>{{partner_address}}</td>
            </tr>
            <tr>
                <td>Date:</td><td>{{voucher_date}}</td>
            </tr>
            <tr>
                <td>Loyalty no:</td><td>{{userMpacc}}</td>
            </tr>
        </table>
    </div>
    
    <div style="padding: 0 20px;">
        <div class="formListLrg">
            <div class="formListLable">Redemption Value:</div><div class="formListInputLrg">R <input type="number" class="text-input"  placeholder="Transaction Value" ng-model="data.pointsTransVal"></div>
        </div>
        <div class="formListLrg">
            <div class="formListLable">Invoice No:</div><div class="formListInputLrg"><input type="text" class="text-input"  placeholder="Invoice No" ng-model="data.pointsTransInv"></div>
        </div>
        <div class="formListLrg">
            <div class="formListLable"><br></div><div class="formListInputLrg"><ons-button modifier="large" id="btnLogIn" ngf-select ng-model="data.invoiceSlip" name="file" ngf-pattern="'image/*'" ngf-capture="'camera'" ngf-resize-if="$width > 800 || $height > 800" ngf-accept="'image/*'" ngf-max-size="20MB" ngf-resize="{width: 800, height: 800}">UPLOAD YOUR TILL SLIP</ons-button></div>
        </div>
        <p>If your transaction value exceeds R500, a till slip picture will be required to verify your transaction.</p>
    </div>
    <div style="margin: 0 10px; background-color: #cccccc;">
        <div style="padding: 10px;">
            <p>Present your phone to the cashier to approve the transaction.</p>
            <div class="formListLrg">
                <div class="formListLable">SHOP APPROVAL:</div>
                <div class="formListInputLrg"><input type="number" class="text-input" ng-change="" placeholder="Enter Code" ng-model="data.cashierCode"></div>
            </div>
            <ons-button modifier="large" id="btnLogIn" ng-click="genereateOtp(data.invoiceSlip)" style="width:100%">GENERATE OTP</ons-button>  
            <div class="formListLrg">
                <div class="formListLable">OTP:</div>
                <div class="formListInputLrg"><input type="number" class="text-input"  placeholder="Enter Code" ng-model="data.remOTP"></div>
            </div>
            <p class="location" style='color:#000'><i>Please enter the OTP pin provided by the Store</i></p>
        </div>
    </div>
    <div style="padding: 0 20px;">
        <div style="text-align: center;"><img src='https://www.mahala.mobi/components/com_jumi/files/mahala_WSDL/test_1D.php?text={{CardNumber}}' width='270px' /></div>
        <!--<input type="text" class="text-input" ng-model="data.partId" value="{{partner_id}}">
        <input type="text" class="text-input" ng-model="data.partName" ng-value="{{partner_name}}">-->
        <img ng-show="data.invoiceSlip.$valid" ngf-thumbnail="data.invoiceSlip" ngf-size="{width: 100, height: 100, quality: 0.9}">
        <br>
        <ons-button modifier="large" id="btnLogIn" ng-click="sendOtp()" style="width:100%">SUBMIT</ons-button>      
        <p class="location" style='color:#000'><i>Your points redemption cannot exceed your points balance as displayed above. You have to be in-store.</i></p>
        <p style='color:#cd242d'><a href="#" onclick="myNavigator.pushPage('views/TandC.html');" style="text-decoration: none; color: #951b1e;">TERMS AND CONDITIONS</a> APPLY.</p>
    </div>
    <ons-bottom-toolbar ng-style="{'background-color':footerBG}">
        <ons-row vertical-align="center" style="height: 44px">
            <ons-col vertical-align="center" style="text-align: center; line-height: 44px; font-size: 25px;" onclick="myNavigator.pushPage('views/home.html', { animation : 'slide' } )"><ons-icon icon="ion-home"></ons-icon></ons-col>
            <ons-col vertical-align="center" style="text-align: center; line-height: 44px; font-size: 25px;" onclick="myNavigator.pushPage('views/socialmedia.html', { animation : 'slide' } )"><ons-icon icon="ion-heart"></ons-icon></ons-col>
            <ons-col vertical-align="center" style="text-align: center; line-height: 44px; font-size: 15px;" ng-click="loadpage(5)">T&C’s</ons-col>
        </ons-row>
    </ons-bottom-toolbar>
</ons-page>