<ons-page>
    <ons-toolbar ng-style="{'background-color':topbarBG}">
        <div class="left">
            <ons-back-button>Back</ons-back-button>
        </div>
        <div class="center">Load Discount</div>
        <div class="right"></div>
    </ons-toolbar>
    <div class="topBanner">
        <div class="subImgBlock">
            <img src="{{subBanner}}" style="max-width: 380px; width: 100%;" />
        </div>
    </div>
    <div style="padding: 0 20px;">
        <table width='100%' style='border:none'>
            <tr>
                <td colspan='2' style='border-bottom:2px solid #cd242d;' align='center'><img src="https://www.mahala.mobi/components/com_jumi/files/mahala_WSDL/logos/{{partner_logo}}" width="90%"></td>
            </tr>
        </table>
    </div>
    
    <div style="margin: 0 20px; text-align: center; background-color: #a9abae;"><h2 style="padding: 5px; color: #fff;">LOAD DISCOUNT</h2></div>
    
    <div style="padding: 0 20px;">
        <div class="formListLrg">
            <div class="formListLable">Member Number:</div><div class="formListInputLrg"><input type="number" class="text-input"  placeholder="Member Number" ng-model="data.memNumber"></div>
        </div>
        <div class="formListLrg">
            <div class="formListLable">Transaction Value:</div><div class="formListInputLrg"><input type="number" class="text-input"  placeholder="Transaction Value" ng-model="data.pointsTransVal"></div>
        </div>
        <div class="formListLrg">
            <div class="formListLable">Invoice No:</div><div class="formListInputLrg"><input type="text" class="text-input"  placeholder="Invoice No" ng-model="data.pointsTransInv"></div>
        </div>
        <div class="formListLrg">
            <div class="formListLable"><br></div><div class="formListInputLrg"><ons-button ngf-select ng-model="data.invoiceSlip" name="file" ngf-pattern="'image/*'" ngf-capture="'camera'" ngf-resize-if="$width > 800 || $height > 800" ngf-accept="'image/*'" ngf-max-size="20MB" ngf-resize="{width: 800, height: 800}" style="background-color: #ccc; color: #000;"><ons-icon icon="fa fa-camera"></ons-icon> UPLOAD YOUR TILL SLIP</ons-button></div>
        </div>
        <br>
        <ons-button modifier="large" id="btnLogIn" ng-click="retailClaimDiscount(data.invoiceSlip)" style="width:100%">SUBMIT</ons-button>        
    </div>
    <ons-bottom-toolbar ng-style="{'background-color':footerBG}">
        <ons-row vertical-align="center" style="height: 44px">
            <ons-col vertical-align="center" style="text-align: center; line-height: 44px; font-size: 25px;" onclick="myNavigator.pushPage('views/home.html', { animation : 'slide' } )"><ons-icon icon="ion-home"></ons-icon></ons-col>
            <ons-col vertical-align="center" style="text-align: center; line-height: 44px; font-size: 25px;" onclick="myNavigator.pushPage('views/socialmedia.html', { animation : 'slide' } )"><ons-icon icon="ion-heart"></ons-icon></ons-col>
            <ons-col vertical-align="center" style="text-align: center; line-height: 44px; font-size: 15px;" ng-click="loadpage(5)">T&C’s</ons-col>
        </ons-row>
    </ons-bottom-toolbar>
</ons-page>