<ons-page>
    <ons-toolbar ng-style="{'background-color':topbarBG}">
        <div class="left">
            <ons-back-button>Back</ons-back-button>
        </div>
        <div class="center">Collect Stamps</div>
        <div class="right"></div>
    </ons-toolbar>
    <div class="topBanner">
        <div><img src="images/{{partnerID}}.jpg" style="max-width: 800px; width: 100%;" /></div>
    </div>
    <h2 class="myHeader"><span>COLLECT STAMPS</span></h2>
    <ons-list>
        <ons-list-item modifier="partnerList" ng-repeat="list in tokenList" ng-click="retailCollectFreeStamps(list.tokenCode)">
            <ons-row>
                <ons-col width="80%">
                    <strong>{{list.tokenDescr}}</strong>
                </ons-col>
                <ons-col width="10%">
                    {{list.value}}/{{list.valueRequired}}
                </ons-col>
                <ons-col width="10%"><i class="fa fa-chevron-right" aria-hidden="true" style="color: rgb(206,40,44);"></i></ons-col>
            </ons-row>
        </ons-list-item>
    </ons-list>
    <ons-list ng-if="hasBenefits">
        <ons-list-item modifier="partnerList" ng-click="retailCheckBenefits()">
            Check your BENEFITS
        </ons-list-item>
    </ons-list>
    <h2 class="myHeader"><span>GET FREEBIES</span></h2>
    <ons-button modifier="large" class="reg-button" ng-click="myRetailFreebies()">Check your Freebies</ons-button>
    <div style="padding:20px;">Terms & Conditions apply.</div>
    <ons-bottom-toolbar ng-style="{'background-color':footerBG}">
        <ons-row vertical-align="center" style="height: 44px">
            <ons-col vertical-align="center" style="text-align: center; line-height: 44px; font-size: 25px;" onclick="myNavigator.pushPage('views/home.html', { animation : 'slide' } )"><ons-icon icon="ion-home"></ons-icon></ons-col>
            <ons-col vertical-align="center" style="text-align: center; line-height: 44px; font-size: 25px;" onclick="myNavigator.pushPage('views/socialmedia.html', { animation : 'slide' } )"><ons-icon icon="ion-heart"></ons-icon></ons-col>
            <ons-col vertical-align="center" style="text-align: center; line-height: 44px; font-size: 15px;" ng-click="loadpage(5)">T&C’s</ons-col>
        </ons-row>
    </ons-bottom-toolbar>
</ons-page>