<ons-page>
    <ons-toolbar ng-style="{'background-color':topbarBG}">
        <div class="center">Welcome</div>
    </ons-toolbar>
    <div class="topBanner">
        <div class="subImgBlock">
            <img src="{{subBanner}}" style="max-width: 800px; width: 100%;" />
        </div>
    </div>
    <ons-list>
        
        <ons-list-item modifier="chevron" onclick="myNavigator.pushPage('views/retail/load_points.html', { animation : 'slide' } )">
            Load Points
        </ons-list-item>
        <ons-list-item modifier="chevron" onclick="myNavigator.pushPage('views/retail/load_discount.html', { animation : 'slide' } )">
            Load Discount
        </ons-list-item>
        <ons-list-item modifier="chevron" onclick="myNavigator.pushPage('views/retail/load_redemption.html', { animation : 'slide' } )">
            Load Redemption
        </ons-list-item>
        
        <ons-list-item modifier="chevron" onclick="myNavigator.pushPage('views/retail/load_stamps.html', { animation : 'slide' } )">
            Load Stamps
        </ons-list-item>
        
        <ons-list-item modifier="chevron" onclick="myNavigator.pushPage('views/retail/enroll_member.html', { animation : 'slide' } )">
            Enroll New Member
        </ons-list-item>
        
        <ons-list-item modifier="chevron" onclick="myNavigator.pushPage('views/retail/customer_feedback.html', { animation : 'slide' } )">
            Customer Feedback
        </ons-list-item>
        <ons-list-item modifier="chevron" onclick="myNavigator.pushPage('views/retail/overview_report.html', { animation : 'slide' } )">
            Overview Report
        </ons-list-item>
        <ons-list-item modifier="chevron" onclick="myNavigator.pushPage('views/retail/request_campaign.html', { animation : 'slide' } )">
            Request a Campaign
        </ons-list-item>
        <ons-list-item modifier="chevron" ng-click="retailLogout()">
            Log Out
        </ons-list-item>
    </ons-list>
    <ons-bottom-toolbar ng-style="{'background-color':footerBG}">
        <ons-row vertical-align="center" style="height: 44px">
            <ons-col vertical-align="center" style="text-align: center; line-height: 44px; font-size: 25px;" onclick="myNavigator.pushPage('views/home.html', { animation : 'slide' } )"><ons-icon icon="ion-home"></ons-icon></ons-col>
            <ons-col vertical-align="center" style="text-align: center; line-height: 44px; font-size: 25px;" onclick="myNavigator.pushPage('views/socialmedia.html', { animation : 'slide' } )"><ons-icon icon="ion-heart"></ons-icon></ons-col>
            <ons-col vertical-align="center" style="text-align: center; line-height: 44px; font-size: 15px;" ng-click="loadpage(5)">T&C’s</ons-col>
        </ons-row>
    </ons-bottom-toolbar>
</ons-page>
