<ons-page>
    <ons-toolbar ng-style="{'background-color':topbarBG}">
        <div class="left">
            <ons-back-button>Back</ons-back-button>
        </div>
        <div class="center">ON AIR PERSONALITIES</div>
        <div class="right"></div>
    </ons-toolbar>
    <div class="topBanner">
        <div><img src="{{Banner1}}" style="max-width: 800px; width: 100%;" /></div>
    </div>
    <ons-row align="center">
        <ons-col width="90%"><div class="formListInputLrg"><input type="search" class="search-input" ng-model="data.quickSearch" placeholder="Quick search for a shop / deal"></div></ons-col>
        <ons-col width="10%"><ons-button ng-click="quickSearch()"><ons-icon icon="fa-search"></ons-button></ons-col>
    </ons-row>
    <h2 class="myHeader contentShadow"><span>ON AIR PERSONALITIES</span></h2>
    
    <ons-row class="contentShadow">
        <ons-col width="50%"><h2>Bheka Mchunu</h2></ons-col>
        <ons-col width="50%"><img src="images/presenters/oap/01-bheka-mchunu.png" width="100%"></ons-col>
    </ons-row>
    <ons-row class="contentShadow">
        <ons-col width="50%"><h2>Boniswa Moto</h2></ons-col>
        <ons-col width="50%"><img src="images/presenters/oap/02-boniswa-moto.png" width="100%"></ons-col>
    </ons-row>
    <ons-row class="contentShadow">
        <ons-col width="50%"><h2>DJ Sgqemeza</h2></ons-col>
        <ons-col width="50%"><img src="images/presenters/oap/03-dj-sgqemeza.png" width="100%"></ons-col>
    </ons-row>
    <ons-row class="contentShadow">
        <ons-col width="50%"><h2>Dudu  Khoza</h2></ons-col>
        <ons-col width="50%"><img src="images/presenters/oap/04-dudu-khoza.png" width="100%"></ons-col>
    </ons-row>
    <ons-row class="contentShadow">
        <ons-col width="50%"><h2>Irvin Sihlophe</h2></ons-col>
        <ons-col width="50%"><img src="images/presenters/oap/05-irvin-sihlophe.png" width="100%"></ons-col>
    </ons-row>
    <ons-row class="contentShadow">
        <ons-col width="50%"><h2>Joseph Hudla</h2></ons-col>
        <ons-col width="50%"><img src="images/presenters/oap/06-joseph-hudla.png" width="100%"></ons-col>
    </ons-row>
    <ons-row class="contentShadow">
        <ons-col width="50%"><h2>Khathide Ngobe</h2></ons-col>
        <ons-col width="50%"><img src="images/presenters/oap/07-khathide-ngobe.png" width="100%"></ons-col>
    </ons-row>
    <ons-row class="contentShadow">
        <ons-col width="50%"><h2>Khetha Gwala</h2></ons-col>
        <ons-col width="50%"><img src="images/presenters/oap/08-khetha-gwala.png" width="100%"></ons-col>
    </ons-row>
    <ons-row class="contentShadow">
        <ons-col width="50%"><h2>Lindani “Lee” Hlophe</h2></ons-col>
        <ons-col width="50%"><img src="images/presenters/oap/09-lidandi-lee-hlophe.png" width="100%"></ons-col>
    </ons-row>
    <ons-row class="contentShadow">
        <ons-col width="50%"><h2>Lucky Nkosi</h2></ons-col>
        <ons-col width="50%"><img src="images/presenters/oap/10-lucky-nkosi.png" width="100%"></ons-col>
    </ons-row>
    <ons-row class="contentShadow">
        <ons-col width="50%"><h2>Mandla Magwaza</h2></ons-col>
        <ons-col width="50%"><img src="images/presenters/oap/11-mandla-magwaza.png" width="100%"></ons-col>
    </ons-row>
    <ons-row class="contentShadow">
        <ons-col width="50%"><h2>Mandla Mdletshe</h2></ons-col>
        <ons-col width="50%"><img src="images/presenters/oap/12-mandla-mdletshe.png" width="100%"></ons-col>
    </ons-row>
    <ons-row class="contentShadow">
        <ons-col width="50%"><h2>Mroza Buthelezi</h2></ons-col>
        <ons-col width="50%"><img src="images/presenters/oap/13-mroza-buthelezi.png" width="100%"></ons-col>
    </ons-row>
    <ons-row class="contentShadow">
        <ons-col width="50%"><h2>Nkosinathi Mshengu</h2></ons-col>
        <ons-col width="50%"><img src="images/presenters/oap/14-nkosinathi-mshengu.png" width="100%"></ons-col>
    </ons-row>
    <ons-row class="contentShadow">
        <ons-col width="50%"><h2>Nomfundo Mkhize</h2></ons-col>
        <ons-col width="50%"><img src="images/presenters/oap/15-nomfundo-mkhize.png" width="100%"></ons-col>
    </ons-row>
    <ons-row class="contentShadow">
        <ons-col width="50%"><h2>Nongcebo Mckenzie</h2></ons-col>
        <ons-col width="50%"><img src="images/presenters/oap/16-nongcebo-mchenzie.png" width="100%"></ons-col>
    </ons-row>
    <ons-row class="contentShadow">
        <ons-col width="50%"><h2>Nonhlanhla 'Mdonso' Ngcobo</h2></ons-col>
        <ons-col width="50%"><img src="images/presenters/oap/17-nonhlanhla-mdonso-ngcobo.png" width="100%"></ons-col>
    </ons-row>
    <ons-row class="contentShadow">
        <ons-col width="50%"><h2>Sbu Buthelezi</h2></ons-col>
        <ons-col width="50%"><img src="images/presenters/oap/18-sbu-buthelezi.png" width="100%"></ons-col>
    </ons-row>
    <ons-row class="contentShadow">
        <ons-col width="50%"><h2>Selby Mkhize</h2></ons-col>
        <ons-col width="50%"><img src="images/presenters/oap/19-selby-mkhize.png" width="100%"></ons-col>
    </ons-row>
    <ons-row class="contentShadow">
        <ons-col width="50%"><h2>Siwe Cele</h2></ons-col>
        <ons-col width="50%"><img src="images/presenters/oap/20-siwe-cele.png" width="100%"></ons-col>
    </ons-row>
    <ons-row class="contentShadow">
        <ons-col width="50%"><h2>Siya Mhlongo</h2></ons-col>
        <ons-col width="50%"><img src="images/presenters/oap/21-siya-mhlongo.png" width="100%"></ons-col>
    </ons-row>
    <ons-row class="contentShadow">
        <ons-col width="50%"><h2>Sthandwa Gama</h2></ons-col>
        <ons-col width="50%"><img src="images/presenters/oap/22-sthandwa-gama.png" width="100%"></ons-col>
    </ons-row>
    <ons-row class="contentShadow">
        <ons-col width="50%"><h2>Thanda Ndlovu</h2></ons-col>
        <ons-col width="50%"><img src="images/presenters/oap/23-thanda-ndlovu.png" width="100%"></ons-col>
    </ons-row>
    <ons-row class="contentShadow">
        <ons-col width="50%"><h2>Thembeka Zondo</h2></ons-col>
        <ons-col width="50%"><img src="images/presenters/oap/24-thembeka-zondo.png" width="100%"></ons-col>
    </ons-row>
    <ons-row class="contentShadow">
        <ons-col width="50%"><h2>Thokozani 'Mafresh' Mpungose</h2></ons-col>
        <ons-col width="50%"><img src="images/presenters/oap/25-thokozani-mafresh-mpungose.png" width="100%"></ons-col>
    </ons-row>
    <ons-row class="contentShadow">
        <ons-col width="50%"><h2>Zanda Mthembu</h2></ons-col>
        <ons-col width="50%"><img src="images/presenters/oap/26-zanda-mthembu.png" width="100%"></ons-col>
    </ons-row>
    <ons-row class="contentShadow">
        <ons-col width="50%"><h2>Zandile Zeal Dladla</h2></ons-col>
        <ons-col width="50%"><img src="images/presenters/oap/27-zandile-zeal-dladla.png" width="100%"></ons-col>
    </ons-row>
    <ons-row class="contentShadow">
        <ons-col width="50%"><h2>Zimiphi Biyela</h2></ons-col>
        <ons-col width="50%"><img src="images/presenters/oap/28-zimpiphi-biyela.png" width="100%"></ons-col>
    </ons-row>
    
    <ons-bottom-toolbar ng-style="{'background-color':footerBG}">
        <ons-row vertical-align="center" style="height: 44px">
            <ons-col vertical-align="center" style="text-align: center; line-height: 44px; font-size: 25px;" onclick="myNavigator.pushPage('views/home.html', { animation : 'slide' } )"><ons-icon icon="ion-home"></ons-icon></ons-col>
            <ons-col vertical-align="center" style="text-align: center; line-height: 44px; font-size: 25px;" onclick="myNavigator.pushPage('views/socialmedia.html', { animation : 'slide' } )"><ons-icon icon="ion-heart"></ons-icon></ons-col>
            <ons-col vertical-align="center" style="text-align: center; line-height: 44px; font-size: 15px;" ng-click="loadpage(5)">T&C’s</ons-col>
        </ons-row>
    </ons-bottom-toolbar>
</ons-page>